tmp
# To large to commit this on github
original/system*
result/*
tool/mkimage
backup
debian/tmp
initram/android.cpio
initram/rootfs/android.cpio
**/.env
tool/mkbootimg
tool/unpackbootimg
recovery/original
recovery/initram*
!**/Makefile